# MacOS
.DS_Store

# Logs
npm-debug.log*

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Core commiter folders
Labo

# Other
example
images
test
.eslintrc.json
documentation
